/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    overflow: auto;

    font-family: sans-serif;
}

body.hidden {
    overflow: hidden;
}

h3 {
    margin-bottom: 10px;
}

p {
    margin-top: 0px;
}

.models-list {
    position: absolute;
    bottom: 0;

    width: 100vw;
    height: 100vh;

    background-color: black;
    right: 0;

    z-index: -5;
    display: none;
}

.models-list.open {
    display: block;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.908);
}

.models-list ul {
    padding: 150px 0 0 0;
    list-style: none;
    text-align: center;
}

.models-list li {
    margin-bottom: 20px;
}

.models-list a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.models-list a.current {
    color: rgb(172, 85, 85);
}

.models-list-open {
    position: absolute;
    right: 20px;
    top: 20px;

    padding: 10px 40px 10px 0;

    background-color: rgba(255, 255, 255, 0.551);
    font-size: 22px;
    font-weight: 500;

    z-index: 1001;

    cursor: pointer;
}

.models-list-open span {
    position: relative;

    padding: 0 20px;
}
.models-list-open.active span::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 10px;

    width: 30px;
    height: 2px;

    background-color: black;

    -webkit-transform: rotate(45deg);

    -ms-transform: rotate(45deg);

    transform: rotate(45deg);
}

.models-list-open.active span::before {
    content: "";
    position: absolute;
    top: 10px;
    right: -30px;

    width: 30px;
    height: 2px;

    background-color: black;

    -webkit-transform: rotate(135deg);

    -ms-transform: rotate(135deg);

    transform: rotate(135deg);
}

.models-list-open span::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 7px;

    width: 30px;
    height: 2px;

    background-color: black;

    -webkit-transform: rotate(0);

    -ms-transform: rotate(0);

    transform: rotate(0);
}

.models-list-open span::before {
    content: "";
    position: absolute;
    top: 13px;
    right: -30px;

    width: 30px;
    height: 2px;

    background-color: black;

    -webkit-transform: rotate(0);

    -ms-transform: rotate(0);

    transform: rotate(0);
}

.app-description {
    margin-top: 100px;
    padding: 0 20px;
}

h2 {
    text-align: center;
}
